h2.ce-header {
  font-size: 2.25rem;
}

h3.ce-header {
  font-size: 1.5rem;
}
h4.ce-header {
  font-size: 1.25rem;
}

.ce-header {
  font-weight: bold;
}

.ce-block--selected .ce-block__content {
  background-color: var(--color-info);
}
.ce-toolbox__button {
  color: var(--color-tertiary);
}

.ce-inline-toolbar__dropdown,
.ce-conversion-tool {
  color: black;
}
