/* @font-face {
  font-family: "MyFont";
  src: local("font"),
    url(../fonts/Exo_2/Exo2-VariableFont_wght.ttf) format("ttf");
}
@font-face {
  font-family: "paragraph";
  src: local("font"), url(../fonts/Amiri/Amiri-Regular.ttf) format("ttf");
} */
