.view h2,
.view h3,
.view h4 {
  font-weight: bold;
  color: var(--color-secondary);

  text-align: center;
}
.view h2 {
  font-size: 2.25rem;
}

.view h3 {
  font-size: 1.5rem;
}
.view h4 {
  font-size: 1.25rem;
}

.view p {
  color: var(--color-secondary);
}

.view label,
.view li {
  color: var(--color-secondary);
}
.view svg#Layer_1 path {
  fill: var(--color-secondary);
}

.view ul {
  list-style-type: disc;
}

.view code {
  color: var(--color-negative);
  background-color: var(--background-primary);
}

.view a {
  text-decoration: underline;
}

/* .view table {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.fa-thumbs-up:hover,
.fa-bookmark:hover {
  color: var(--color-primary);
}
